nav {
  margin: em(30) 0;
  text-align: center;

  ul {
    display: inline-block;
    margin-bottom: em(10);
  }
}

.blog-title {
  font-size: 1.75em;
  font-weight: 700;
  letterspacing: 4px;
  text-transform: uppercase;
}
