nav {
  margin: em(30) 0;
  text-align: center;

  ul {
    display: inline-block;
    margin-bottom: em(10);
  }

  .sub-menu {
    margin-top: 10px;
    font-size: 1.25em;
  }

  .sub-menu {
    li {
      display: inline;
      margin: 5px 7px 5px 7px;

      a {
        color: #333;

        &:hover {
          opacity: .5;
        }
      }
    }
  }
}

.blog-title {
  font-size: 1.75em;
  font-weight: 700;
  letterspacing: 4px;
  text-transform: uppercase;
}
