<% wrap_layout :layout do %>
  <section>
    <article>
      <h1 class="title">
        <%= link_to current_article.title, current_article.url %>
      </h1>
      <div class="corpus">
        <%= yield %>
      </div>
    </article>
  </section>
<% end %>
