<% wrap_layout :layout do %>
  <section>
    <article>
      <div class="post-header">
        <h1>
          <%= link_to current_article.title, current_article.url %>
        </h1>
        <small>
          <%= article_date %>
          on <%= article_tags %>
        </small>
      </div>
      <div class="corpus">
        <%= yield %>
      </div>
    </article>
  </section>
<% end %>
