<div class="about">
  <p class="hi-there">¡Hola, amiguito!</p>
  <p>
    My name is Horacio Bertorello. I currently live in Buenos Aires, Argentina. I don't have the slightest idea of <em>what</em> I am, but I call myself an <strong>application developer</strong> because it's what I'd like to become right now. A world-class code craftsman. I always dreamed of improving everything, make remarkable tools that solve real-world problems, impact positively on others. On all orders of magnitude. When others see opportunity, I see responsibility. We can do just about anything we set our minds on, so I want to take me as far as I can.
  </p>
  <p>
    Please, do <a href="mailto:airOnGString@gmail.com">contact me</a>. I read all emails. That's right. Every single one.
  </p>
</div>
